
div.row
    div(class="thirteen columns")
        div.shadowbox
            ul
                each img in images
                    li(class="image", id="#{img.name}")
                        h1= img.name
                        img(src="#{img.filename}")
    div(class="three columns")
        div.tags
            div.tag-text Tags
            each tag in tags
                div.tag
                    span.name= tag.name
                    span.tag-line
                    span.count 22
           
