
div.row
    div(class="sixteen columns")

        ul
            li
                h1 Clermont Dancers
                img(src="http://coasters.tracibrowning.com/images/Clermont-2.jpg")
            li
                h1 Chairs
                img(src="http://coasters.tracibrowning.com/images/Chairs.jpg")

            li
                h1 Atkins Park
                img(src="http://coasters.tracibrowning.com/images/atkins-park.jpg")
            li
                h1 Double Clermont
                img(src="http://coasters.tracibrowning.com/images/Clermont.jpg")
            li
                h1 Ebenezer
                img(src="http://coasters.tracibrowning.com/images/Ebenezer.jpg")
            li
                h1 Fox Theater
                img(src="http://coasters.tracibrowning.com/images/Fox.jpg")

            li
                h1 Downtown Day
                img(src="http://coasters.tracibrowning.com/images/Jackson-St-daybreak.jpg")
            li
                h1 Grant Park
                img(src="http://coasters.tracibrowning.com/images/Grant-Park-Sign.jpg")
