
div.row
    div(class="sixteen columns")
        div.shadowbox
            ul
                li
                    h1 Clermont Dancers
                    img(src="http://coasters.tracibrowning.com/images/Clermont-2.jpg")
                li
                    h1 Chairs
                    img(src="http://coasters.tracibrowning.com/images/Chairs.jpg")

                li
                    h1 Atkins Park
                    img(src="http://coasters.tracibrowning.com/images/atkins-park.jpg")
                li
                    h1 Double Clermont
                    img(src="http://coasters.tracibrowning.com/images/Clermont.jpg")
                li
                    h1 Ebenezer
                    img(src="http://coasters.tracibrowning.com/images/Ebenezer.jpg")
                li
                    h1 Fox Theater
                    img(src="http://coasters.tracibrowning.com/images/Fox.jpg")

                li
                    h1 Downtown Day
                    img(src="http://coasters.tracibrowning.com/images/Jackson-St-daybreak.jpg")
                li
                    h1 Grant Park
                    img(src="http://coasters.tracibrowning.com/images/Grant-Park-Sign.jpg")

div.row
    div(class="sixteen columns")
        div.offset-by-one
            div.hoods
                div.labelContainer
                    div.tagHeadline Neighborhoods
                    | <a href="#"><span class="label default">Atlanta</span></a>
                    | <a href="#"><span class="label orangish">Decatur</span></a>
                    | <a href="#"><span class="label orange">Cabbagetown</span></a>
                    | <a href="#"><span class="label green">Candler Park</span></a>
                    | <a href="#"><span class="label pink">Oakhurst</span></a>
                    | <a href="#"><span class="label lightyellow">VaHi</span></a>
                    | <a href="#"><span class="label black">Avondale</span></a>
                    | <a href="#"><span class="label brown">Little 5 Points</span></a>
                    | <a href="#"><span class="label darkgreen">Inman Park</span></a>
                    | <a href="#"><span class="label yellow">Kirkwood</span></a>
                    | <a href="#"><span class="label red">rant Park</span></a>
                    | <a href="#"><span class="label skyblue">Marietta</span></a>
                    | <a href="#"><span class="label darkblue">Ansley Park</span></a>
                    | <a href="#"><span class="label orangish">Berkeley Park</span></a>
                    | <a href="#"><span class="label seagreen">East Atlanta</span></a>
        div.offset-by-seven
            div.spots
                div.labelContainer
                    div.tagHeadline Spots
                    | <a href="#"><span class="label default">Bars</span></a>
                    | <a href="#"><span class="label orangish">Restaurants</span></a>
                    | <a href="#"><span class="label orange">Parks</span></a>
                    | <a href="#"><span class="label green">Signs</span></a>
                    | <a href="#"><span class="label pink">Shops</span></a>
                    | <a href="#"><span class="label green">Nighttime</span></a>
                    | <a href="#"><span class="label pink">Daytime</span></a>
                    
                    

