!!! 5
html
    head
        title= title

        link(href="/stylesheets/base.css", rel="stylesheet")
        link(href="/stylesheets/layout.css", rel="stylesheet")
        link(href="/stylesheets/skeleton.css", rel="stylesheet")
        link(href="/stylesheets/shadowbox.css", rel="stylesheet")
        link(href="/stylesheets/menu.css", rel="stylesheet")
        link(href="/stylesheets/labels.css", rel="stylesheet")
        link(href="/stylesheets/site.css", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Sansita+One", rel="stylesheet")
        link(rel="shortcut icon", href="/images/favicon.ico")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")

    body
        script(src="javascripts/jquery.js")
        script(src="javascripts/tabs.js")

        div.container
            div.retro Landmark Squares
            div.menubar
                ul
                    li
                        | <a>Home</a>
                    li
                        | <a>Coasters</a>
                    li
                        | <a>About Us</a>

            div!= body

            div.labelContainer
                | <span class="label default">Atlanta</span>
                | <span class="label orangish">Decatur</span>
                | <span class="label orange">Cabbagetown</span>
                | <span class="label green">Candler Park</span>
                | <span class="label pink">Oakhurst</span>
                | <span class="label lightyellow">VaHi</span>
                | <span class="label black">Avondale</span>
                | <span class="label brown">Little 5 Points</span>
                | <span class="label darkgreen">Inman Park</span>
                | <span class="label yellow">Kirkwood</span>
                | <span class="label red">Grant Park</span>
                | <span class="label skyblue">Marietta</span>
                | <span class="label darkblue">Ansley Park</span>
                | <span class="label orangish">Berkeley Park</span>
                | <span class="label seagreen">East Atlanta</span>


