!!! 5
html
    head
        title= title

        link(href="/stylesheets/base.css", rel="stylesheet")
        link(href="/stylesheets/layout.css", rel="stylesheet")
        link(href="/stylesheets/skeleton.css", rel="stylesheet")
        link(href="/stylesheets/shadowbox.css", rel="stylesheet")
        link(href="/stylesheets/site.css", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Sansita+One", rel="stylesheet")
        link(rel="shortcut icon", href="/images/favicon.ico")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")

    body
        script(src="javascripts/jquery.js")
        script(src="javascripts/tabs.js")

        div.container
            div.retro Landmark Coasters
            div!= body

        