!!! 5
html
    head
        title= title

        link(href="/stylesheets/base.css", rel="stylesheet")
        link(href="/stylesheets/layout.css", rel="stylesheet")
        link(href="/stylesheets/skeleton.css", rel="stylesheet")
        link(href="/stylesheets/shadowbox.css", rel="stylesheet")
        link(href="/stylesheets/modal.css", rel="stylesheet")
        link(href="/stylesheets/pager.css", rel="stylesheet")
        link(href="/stylesheets/site.css", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Sansita+One", rel="stylesheet")
        link(rel="shortcut icon", href="/images/favicon.ico")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")

    body
        script(src="/javascripts/jquery.js")
        script(src="/javascripts/tabs.js")
        script(src="/javascripts/modal.js")
        script
            $(function()
            {
                $('.image').click(function(){
                    loadWindow(this.id);
                });
            });

            function loadWindow(imageName){
                var m = $('body').modal().data('modal');

                $.ajax({
                    url: "/detail/" + imageName,
                    success: function(data) {
                        console.log(data);
                        m.open(data);
                    }
                });
                
            }

        div.container
            div.row
                div(class="seven columns")
                    div.retro Landmark Squares
                div.offset-by-eight
                    div(class="two columns alpha")
                        div.nav-text
                            a(href="/") Home
                    div(class="three columns alpha")
                        div.nav-text
                            a(href="/products") Products
                    div(class="two columns alpha")
                        div.nav-text
                            a(href="/about") About
                    

            div.row
                div!= body
            

