!!! 5
html
    head
        title= title

        link(href="/stylesheets/base.css", rel="stylesheet")
        link(href="/stylesheets/layout.css", rel="stylesheet")
        link(href="/stylesheets/skeleton.css", rel="stylesheet")
        link(href="/stylesheets/shadowbox.css", rel="stylesheet")
        link(href="/stylesheets/menu.css", rel="stylesheet")
        link(href="/stylesheets/labels.css", rel="stylesheet")
        link(href="/stylesheets/site.css", rel="stylesheet")
        link(href="http://fonts.googleapis.com/css?family=Sansita+One", rel="stylesheet")
        link(rel="shortcut icon", href="/images/favicon.ico")
        link(rel="apple-touch-icon", sizes="72x72", href="/images/apple-touch-icon-72x72.png")
        link(rel="apple-touch-icon", href="/images/apple-touch-icon.png")
        link(rel="apple-touch-icon", sizes="114x114", href="/images/apple-touch-icon-114x114.png")

    body
        script(src="javascripts/jquery.js")
        script(src="javascripts/tabs.js")

        div.container
            div.retro Landmark Squares
            div.menubar
                ul
                    li
                        | <a>Home</a>
                    li
                        | <a>Coasters</a>
                    li
                        | <a>About Us</a>

            div!= body

            div.labelContainer
                | <span class="label default"><a href="#">Atlanta</a></span>
                | <span class="label orangish"><a href="#">Decatur</a></span>
                | <span class="label orange"><a href="#">Cabbagetown</a></span>
                | <span class="label green"><a href="#">Candler Park</a></span>
                | <span class="label pink"><a href="#">Oakhurst</a></span>
                | <span class="label lightyellow"><a href="#">VaHi</a></span>
                | <span class="label black"><a href="#" class="anchor">Avondale</a></span>
                | <span class="label brown"><a href="#">ittle 5 Points</a></span>
                | <span class="label darkgreen"><a href="#">Inman Park</a></span>
                | <span class="label yellow"><a href="#">Kirkwood</a></span>
                | <span class="label red"><a href="#">rant Park</a></span>
                | <span class="label skyblue"><a href="#">Marietta</a></span>
                | <span class="label darkblue"><a href="#">Ansley Park</a></span>
                | <span class="label orangish"><a href="#">Berkeley Park</a></span>
                | <span class="label seagreen"><a href="#">East Atlanta</a></span>


