div.row
	div.products
		div(class="three columns")
			div.fixed
				div.type
					a(href="#") Coasters
				div.type
					a(href="#") Prints
				div.type
					a(href="#") Frames
				div.type
					a(href="#") ofour
		div(class="thirteen columns")
			div.offset-by-four
				div(class="two columns")
					img(src="/images/coaster.jpg", class="product-image")
				div.offset-by-two
					p iutto short loin pork loin. Ham hock spare ribs filet mignon, chuck shankle ball tip ground round hamburger andouille. Pork loin tri-tip ham hock, venison drumstick tail andouille. Strip steak pastrami 
			div.row
			div.offset-by-four
				div(class="two columns")
					img(src="/images/print.jpg", class="product-image")
				div.offset-by-two
					p iutto short loin pork loin. Ham hock spare ribs filet mignon, chuck shankle ball tip ground round hamburger andouille. Pork loin tri-tip ham hock, venison drumstick tail andouille. Strip steak pastrami 
			div.row
			div.offset-by-four
				div(class="two columns")
					img(src="/images/frame.jpg", class="product-image")
				div.offset-by-two
					p iutto short loin pork loin. Ham hock spare ribs filet mignon, chuck shankle ball tip ground round hamburger andouille. Pork loin tri-tip ham hock, venison drumstick tail andouille. Strip steak pastrami 
			div.row
			