div.row
	div.products
		div(class="three columns")
			div.fixed
				div.type
					a(href="#") Coasters
				div.type
					a(href="#") Prints
				div.type
					a(href="#") Frames
		div(class="thirteen columns")
			div.offset-by-four
				div(class="two columns")
					img(src="/images/coaster.jpg", class="product-image")
				div.offset-by-two
					p Mounted on a eco-friendly wood, our coasters are 	printed and mounted using acid-free materials.  They are resistant to both hot and cold liquids, and can be washed with warm water.
			div.row
			div.offset-by-four
				div(class="two columns")
					img(src="/images/print.jpg", class="product-image")
				div.offset-by-two
					p We offer all photos as 8x8 loose prints, complete with acid-free foam-core backing and bag.  These are perfect for mix-and-match scenarios where you want to do the matting and/or framing yourself. 
			div.row
			div.offset-by-four
				div(class="two columns")
					img(src="/images/frame.jpg", class="product-image")
				div.offset-by-two
					p We also sell our photos in 1 1/4", black, 8x8 frames. The frames have conservation, glare-reducing glass and are ready to hang.
			div.row
			