.labelContainer {
    margin: 20px auto;
    width: 250px;
    text-align: center;
    font-family: 'Helvetica Neue', sans-serif;
}

.label {
    display: inline-block;
    font-size: 11px;
    padding: 0 6px;
    font-weight: bold;
    line-height: 20px;
    margin-top: 10px;
    color: #ffffff;
    white-space: nowrap;
    
    background: #F1F1F1;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: -1px -1px 0 rgba(0,0,0,0.2);
}



.label.default {
    background: -webkit-linear-gradient(top, #F1F1F1, #E8D9D9);
    background: -moz-linear-gradient(top, #F1F1F1, #E8D9D9);
    background: -ms-linear-gradient(top, #F1F1F1, #E8D9D9);
    background: -o-linear-gradient(top, #F1F1F1, #E8D9D9);
    background: linear-gradient(top, #F1F1F1, #E8D9D9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f1f1f1', endColorstr='#e8d9d9'); 
    
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    color: #293718;
}

.label.green {
    background: #A0F641;
    background: -webkit-linear-gradient(top, #A0F641, #ADF138);
    background: -moz-linear-gradient(top, #A0F641, #ADF138);
    background: -ms-linear-gradient(top, #A0F641, #ADF138);
    background: -o-linear-gradient(top, #A0F641, #ADF138);
    background: linear-gradient(top, #A0F641, #ADF138);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#a0f641', endColorstr='#adf138');
    
    color: #616600;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.label.orange {
    background: #FFB943;
    background: -webkit-linear-gradient(top, #FFB943, #FFAE3C);
    background: -moz-linear-gradient(top, #FFB943, #FFAE3C);
    background: -ms-linear-gradient(top, #FFB943, #FFAE3C);
    background: -o-linear-gradient(top, #FFB943, #FFAE3C);
    background: linear-gradient(top, #FFB943, #FFAE3C);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffb943', endColorstr='#ffae3c');
}

.label.red {
    background: #E80C02;
    background: -webkit-linear-gradient(top, #E80C02, #D90B01);
    background: -moz-linear-gradient(top, #E80C02, #D90B01);
    background: -ms-linear-gradient(top, #E80C02, #D90B01);
    background: -o-linear-gradient(top, #E80C02, #D90B01);
    background: linear-gradient(top, #E80C02, #D90B01);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e80c02', endColorstr='#d90b01');
}

.label.yellow {
    background: #D5E802;
    background: -webkit-linear-gradient(top, #D5E802, #D8D901);
    background: -moz-linear-gradient(top, #D5E802, #D8D901);
    background: -ms-linear-gradient(top, #D5E802, #D8D901);
    background: -o-linear-gradient(top, #D5E802, #D8D901);
    background: linear-gradient(top, #D5E802, #D8D901);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#d5e802', endColorstr='#d8d901');
    
    color: #616600;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.label.pink {
    background: #E802B4;
    background: -webkit-linear-gradient(top, #E802B4, #B901D9);
    background: -moz-linear-gradient(top, #E802B4, #B901D9);
    background: -ms-linear-gradient(top, #E802B4, #B901D9);
    background: -o-linear-gradient(top, #E802B4, #B901D9);
    background: linear-gradient(top, #E802B4, #B901D9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#e802b4', endColorstr='#b901d9');
}

.label.deepgreen {
    background: #02E81D;
    background: -webkit-linear-gradient(top, #02E81D, #08D901);
    background: -moz-linear-gradient(top, #02E81D, #08D901);
    background: -ms-linear-gradient(top, #02E81D, #08D901);
    background: -o-linear-gradient(top, #02E81D, #08D901);
    background: linear-gradient(top, #02E81D, #08D901);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#02e81d', endColorstr='#08d901');
}

.label.brown {
    background: #AE4E0A;
    background: -webkit-linear-gradient(top, #AE4E0A, #793206);
    background: -moz-linear-gradient(top, #AE4E0A, #793206);
    background: -ms-linear-gradient(top, #AE4E0A, #793206);
    background: -o-linear-gradient(top, #AE4E0A, #793206);
    background: linear-gradient(top, #AE4E0A, #793206);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ae4e0a', endColorstr='#793206');
}

.label.darkblue {
    background: #2D02E8;
    background: -webkit-linear-gradient(top, #2D02E8, #0119D9);
    background: -moz-linear-gradient(top, #2D02E8, #0119D9);
    background: -ms-linear-gradient(top, #2D02E8, #0119D9);
    background: -o-linear-gradient(top, #2D02E8, #0119D9);
    background: linear-gradient(top, #2D02E8, #0119D9);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#2d02e8', endColorstr='#0119d9');
}

.label.seagreen {
    background: #02C4E8;
    background: -webkit-linear-gradient(top, #02C4E8, #01D9CA);
    background: -moz-linear-gradient(top, #02C4E8, #01D9CA);
    background: -ms-linear-gradient(top, #02C4E8, #01D9CA);
    background: -o-linear-gradient(top, #02C4E8, #01D9CA);
    background: linear-gradient(top, #02C4E8, #01D9CA);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#02c4e8', endColorstr='#01d9ca');
}

.label.black {
    background: #727272;
    background: -webkit-linear-gradient(top, #727272, #151313);
    background: -moz-linear-gradient(top, #727272, #151313);
    background: -ms-linear-gradient(top, #727272, #151313);
    background: -o-linear-gradient(top, #727272, #151313);
    background: linear-gradient(top, #727272, #151313);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#727272', endColorstr='#151313');
}

.label.darkgreen {
    background: #00A50C;
    background: -webkit-linear-gradient(top, #00A50C, #076A00);
    background: -moz-linear-gradient(top, #00A50C, #076A00);
    background: -ms-linear-gradient(top, #00A50C, #076A00);
    background: -o-linear-gradient(top, #00A50C, #076A00);
    background: linear-gradient(top, #00A50C, #076A00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#00a50c', endColorstr='#076a00');
}

.label.lightyellow {
    background: #FDFF00;
    background: -moz-linear-gradient(top, #FDFF00, #FFED00);
    background: -ms-linear-gradient(top, #FDFF00, #FFED00);
    background: -o-linear-gradient(top, #FDFF00, #FFED00);
    background: linear-gradient(top, #FDFF00, #FFED00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#fdff00', endColorstr='#ffed00');
    
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    color: #666200;
}

.label.orangish {
    background: #F99A06;
    background: -webkit-linear-gradient(top, #F99A06, #F68D05);
    background: -moz-linear-gradient(top, #F99A06, #F68D05);
    background: -ms-linear-gradient(top, #F99A06, #F68D05);
    background: -o-linear-gradient(top, #F99A06, #F68D05);
    background: linear-gradient(top, #F99A06, #F68D05);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#f99a06', endColorstr='#f68d05');
}

.label.skyblue {
    background: #36B4FF;
    background: -webkit-linear-gradient(top, #36B4FF, #2FE4FF);
    background: -moz-linear-gradient(top, #36B4FF, #2FE4FF);
    background: -ms-linear-gradient(top, #36B4FF, #2FE4FF);
    background: -o-linear-gradient(top, #36B4FF, #2FE4FF);
    background: linear-gradient(top, #36B4FF, #2FE4FF);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#36b4ff', endColorstr='#2fe4ff');
}

.label.orangishyellow {
    background: #FFD231;
    background: -webkit-linear-gradient(top, #FFD231, #FFC52C);
    background: -moz-linear-gradient(top, #FFD231, #FFC52C);
    background: -ms-linear-gradient(top, #FFD231, #FFC52C);
    background: -o-linear-gradient(top, #FFD231, #FFC52C);
    background: linear-gradient(top, #FFD231, #FFC52C);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#ffd231', endColorstr='#ffc52c');
    
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
    color: #666200;
}

.label .anchor {
    text-decoration: none;
}

